body {
  color: #086fa3;
  background-image: url("background.jpg");
  background-size: cover;
  background-attachment: fixed;
  margin-left: 5%;
}
 
.app-title {
  color: #dc3131;
  margin-top: 2rem;
}